# -----------------------
# Python
# -----------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------
# Virtual Environment
# -----------------------
.venv/
venv/
env/
ENV/

# -----------------------
# Environment Variables
# -----------------------
.env
.env.*

# -----------------------
# IDE
# -----------------------
.vscode/
.idea/
*.swp

# -----------------------
# OS Files
# -----------------------
.DS_Store
Thumbs.db

# -----------------------
# Python Build
# -----------------------
build/
dist/
*.egg-info/

# -----------------------
# Pytest
# -----------------------
.pytest_cache/
.coverage
htmlcov/

# -----------------------
# Jupyter
# -----------------------
.ipynb_checkpoints/

# -----------------------
# Streamlit
# -----------------------
.streamlit/secrets.toml

# -----------------------
# Logs
# -----------------------
*.log

# -----------------------
# Cache
# -----------------------
.cache/
.mypy_cache/
.pyre/
.pytype/

# -----------------------
# Hugging Face Cache
# -----------------------
.huggingface/